@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

li,
img,
.post_bottom__right,
.navBtn,
.btn{
  cursor: pointer;
}

/**Выпадающее меню**/
.dropdown{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  min-width: 130px;
  left: 0;
  display: none;
}
li a{
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
}
li{
  position: relative;
}
ul li:hover>ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.dropdown li {
  clear: both;
  width: 100%;
}
/** -----------------------------**/

.container{
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
}
.left{
  max-width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #202020;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}
body .rigth{
  display: flex;
}
img{
  max-width: 100%;
}
.avatar{
  display: flex;
  margin-top: -21%;
}
.left_name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 3px;
}
.prof{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #DEDEDE;
  margin-bottom: 15px;
}
.left_icons{
  display: flex;
  margin-bottom: 30px;
}
.icons:not(:last-child){
  margin-right: 15px;
}
.line{
  width: 80%;
  height: 1px;
  background-color:#1C1C1C;
  margin-bottom: 30px;
}
.left_text{
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
}
.left_button{
  display: flex;
  justify-content: space-around;
}
.btn{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 13px 20px;
}
.btn_work{
  background: #ED3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
  border-radius: 25px;
  margin-right: 20px;
}
.btn_work:hover{
  background: #851b13;
}
.btn_write:hover {
  background: #1e217e;
}
.btn_write{
  background: #3137C9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
  border-radius: 25px;
}
.nav{
  height: 39px;
  background: #0D0D0D;
  margin-bottom: 60px;
}
.menu li{
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  padding: 13px 15px;
  background: #0D0D0D;
}
.menu li:hover{
  background: #104BE3;
}
.menu{
  display: flex;
}
#arrow:nth-child(2):after{
  content: url("../img/arrow.svg");
  position: relative;
  width: 20px;
  left: 10px;
  top: -2px;
}
.menu li:nth-child(4){
  margin-right: 75px;
}
.searchbar{
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
  background: #202020;
  padding: 12px 40px 13px 20px;
  border: none;
  outline: none;
}

.right_container{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main{
  background: #181818;
}
.stories{
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 30px;
}
.story{
  border-radius: 5px;
  width: 140px;
  height: 195px;
}
.story1{
  background-image: url("../img/story1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.story2 {
  background-image: url("../img/story2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -187px 0px;
}
.story3 {
  background-image: url("../img/story3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.story4 {
  background-image: url("../img/story4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -77px 0px;
}
.story p{
  padding: 14px;
}
.story_text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story_text p:last-child{
  padding-left: 40%;
}
.write{
  background: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  }
.write input{
  background: #121212;
  padding-left: 28px;
  font-size: 15px;
  line-height: 18px;
  color: #D2D2D2;
  max-width: 440px;
  height: 74px;
  outline: none;
}
.inputIcons img:first-child{
  margin-right: 15px;
}
.inputIcons{
  padding-right: 20px;
}
.post{
  background: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin-bottom: 30px;
}
.post img{
  border-radius: 5px 5px 0 0;
}
.post_text{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
  padding: 25px 27px 0 27px;
}
.date,
.bottom_text{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  padding: 20px 0 25px 27px;
}
.bottom_text{
  padding-left: 15px;
}
h2{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-left: 27px;
  margin-top: 25px;
}
.dot{
  width: 6px;
  height: 6px;
  background: #C4C4C4;
  border-radius: 50%;
  margin: 24px 0 0 15px;
}
.post_bottom{
  display: flex;
  justify-content: space-between;
  padding-right: 27px;
}
.post_bottom__left{
  display: flex;
}
.post_bottom__right{
  font-size: 14px;
  color: #107EFF;
  padding-top: 15px;
}
.post2 iframe{
  margin: 25px 25px 0 25px;
  border-radius: 5px;
}
.post3{
  margin-bottom: 80px;
}
.navigation{
  display: flex;
  justify-content: center;
}
.navBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #0D0D0D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
}
.navBtn:hover{
  background: #104BE3;
}
.navBtn span{
  display: block;
}
.navBtn:not(:last-child){
  margin:0 10px 80px 0;
}
.btn_work:hover{

}